body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: white;
    text-align: center;
    color: white;
}

header {
    background: #7fffd4;
    padding: 40px 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}
header h2 {
    color: #000000;
}
header h3 {
    color: #000000;
}

header p {
    font-size: 1.5em;
}

#contador {
    margin-top: 15px;
    font-size: 1.2em;
    color: #a44a4a;
}

.foto img {
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    margin: 20px 0;
}

section {
    padding: 30px 20px;
}

.detalhes {
    background-color: #7fffd4;
}

.h2{
    color: #000000;
}

.confirmacao form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmacao input {
    padding: 10px;
    margin: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirmacao button {
    padding: 10px 20px;
    background-color: #a44a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmacao button:hover {
    background-color: #7c3232;
}

footer {
    background: #7fffd4;
    padding: 15px;
    margin-top: 20px;
}